@import "variables";

#wrapper-navbar {
	background-color: $white;
	border-radius: 0 0 rem-calc(14) rem-calc(14);
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	z-index: 100;
}
#page-wrapper {
	padding: 0;
}

.navbar {
	padding-left: 0;
	padding-right: 0;
}
.cta-btn {
	& .nav-link {
		background-color: teal;
		border-radius: rem-calc(4);
		color: $white !important;
	}
}
.navbar-brand {
	max-width: rem-calc(45);
}

@media screen and (min-width: 599px) {
	.nav-link {
		padding: 0.5rem 1rem !important;
	}
}
